* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  padding: 2rem;
}


#todo-container {
  background-color: #fff;
  padding: 1.5rem 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 350px;
}

#todo-container h1 {
  text-align: center;
  margin-bottom: 1rem;
  color: #333;
}

#input-section {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

#taskInput {
  flex: 1;
  padding: 0.5rem;
  border-radius: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
}

#addBtn {
  background-color: green;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  transition: background 0.3s;
  cursor: pointer;
}

#addBtn:hover {
  background-color: #218838;
}

#taskList {
  list-style: none;
  padding: 0;
  margin: 0;
}

#taskList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid #eee;
}

li.completed span {
  text-decoration: line-through;
  color: gray;
}

li button {
  padding: 3px 6px;
  background-color: crimson;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

li button:hover {
  background-color: darkred;
}

.delete-btn {
  margin-left: 10px;
  cursor: pointer;
  border: none;
  background: none;
}

.delte-btn:hover {
  background-color: darkred;
}
.btn-group {
  display: flex;
  gap: 0.4rem;
}

.btn-group button {
  padding: 4px 8px;
  font-size: 0.9rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-group button:first-child {
  background-color: #007bff;
  color: white;
}

.btn-group button:first-child:hover {
  background-color: #0056b3;
}

.btn-group button:last-child {
  background-color: crimson;
  color: white;
}

.btn-group button:last-child:hover {
  background-color: darkred;
}



#taskList {
  max-height: 300px;
  overflow-y: auto;
}


#filter-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#filter-section button {
  flex: 1;
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 8px;
  background-color: #e9ecef;
  color: #333;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s color 0.3s;
  margin: 0 0.2rem;
}

#filter-section button:hover {
  background-color: #d1d1d1;
}

#filter-section button:active {
  background-color: #198754;
  color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}